.logo {
  font-family: 'Bungee';
}

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color:#dbb1af;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

nav span {
  display: inline-flex;
  font-weight: 400;
  font-size: 32px;
}

.red-text {
  color: red;
  display: inline-block;
  margin: -15px 75px;
  padding-bottom: 12px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  justify-content: center;
}