.new-tweet {
  width: 60%;
  margin: 0.5em;
  font-weight: 600;
}

button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color:#dbb1af;
  color: #ffffff;
}

.submit-and-display {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

textarea {
  outline: none;
  border: none;
  border-bottom: solid;
  background-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 1em;
  height: 30px;
  width: 100%;
}

.red-text {
  color: red;
}