.new-tweet {
  display: flex;
  width: 90%;
  padding: 0.5em;
  margin: auto;
  margin-bottom: 2em;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.submit-and-display button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color:#dbb1af;
  color: #ffffff;
}

.submit-and-display {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

label {
  font-size: smaller;
}

textarea {
  outline: none;
  overflow: hidden;
  display: block;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

.red-text {
  color: red;
}