.new-tweet {
  display: flex;
  width: 90%;
  padding: 0.5em;
  margin: auto;
  margin-bottom: 2em;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.submit-and-display button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color: #dbb1af;
  color: #ffffff;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.submit-and-display {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

label {
  font-size: smaller;
}

.counter {
  display: flex;
  margin: 0.5em;
}

#tweet-text:focus-visible {
  outline: none;
}

#tweet-text {
  display: block;
  background: none;
  height: 1.5em;
  line-height: 0.9em;
  margin: 0.75em 0 1em 0;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: solid black 2px;
  width: 100%;
  resize: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
}